@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Lato);.l-box {
  padding: 1em;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: Cardo, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 1.2em;
  font-weight: normal;
}

h1 span,
p span {
  font-weight: bolder;
}

h2 {
  font-size: 0.8em;
}

a {
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom: 1px solid black;
}

header {
  margin-top: 5em;
}

.sidebar p {
  margin: 0;
}

.sidebar-item span {
  color: #999999;
  font-weight: normal;
  font-style: normal;
}

.link {
  border: 1px solid #ececec;
  border-radius: 4px;
  font-family: 'Lato';
  margin-left: 1em;
}

.link .desc {
  width: 300px;
  display: inline-block;
}

.link i {
  margin-left: 0.3em;
}

.link img {
  width: 100%;
}

.link p {
  margin: 0;
}

.link p.site {
  color: #8a8a8a;
  font-size: 80%;
  margin-top: 15px;
}

.essay {
  margin-bottom: 10em;
}

.essay p {
  text-align: justify;
  text-indent: 3em;
  margin: 0;
}

.essay p.ref {
  text-indent: 0;
  margin-bottom: 1em;
  font-size: 90%;
}

.essay h2 {
  font-weight: normal;
  font-size: 150%;
  text-align: center;
}

.essay h3 {
  font-weight: normal;
  font-size: 115%;
  text-indent: 3em;
}

.essay h4 {
  font-weight: normal;
  font-size: 100%;
  color: #878787;
  border-bottom: 1px solid #cbcbcb;
  margin-top: 5em;
}

